<header id="header" class="header-narrow" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 0, "stickySetTop": "0"}' style="min-height: 86px;">
          <div class="header-body" style="top: 0px;">
            <div class="header-container container">
              <div class="header-row">
                <div class="header-column">
                  <div class="header-logo">
                    <a href="/" class="navbar-brand" style="
                        font-size: 40px;
                        color: #111111;"><strong>Mafiakitty</strong> Sailing
                    </a>
                  </div>
                </div>
                <div class="header-column">
                  <div class="header-row">
                    <div class="header-nav">
                      <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                        <i class="fa fa-bars"></i>
                      </button>
                      <ul class="header-social-icons social-icons hidden-xs">
                        <li class="social-icons-youtube"><a href="http://www.youtube.com/mafiakitty" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/themafiakitty" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/themafiakitty" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-icons-instagram"><a href="http://www.instagram.com/mafiakitty" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                      </ul>

                      <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                        <nav>
                          <ul class="nav nav-pills" id="mainNav">
                            <li class="">
                              <a class="" href="/">Home</a>
                            </li>
                            <li class="dropdown">
  														<a class="dropdown-toggle" href="/about">About<i class="fa fa-caret-down"></i></a>
  														<ul class="dropdown-menu">
  															<li><a href="#coming-soon">Mike and Michelle</a></li>
  															<li><a href="/boat">Our Sailboat</a></li>
  														</ul>
  													</li>
                            <li class="">
                              <a href="/blog">Blog</a>
                            </li>
                            <li class="">
                              <a href="/plan">Plan</a>
                            </li>
                            <li class="">
                              <a href="/videos">Videos</a>
                            </li>
                            <li class="">
                              <a href="/photos">Photos</a>
                            </li>
                            <li class="">
                              <a href="/contact">Contact</a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
