<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<div class="body">
			{% include header.html %}

			<div role="main" class="main">

				<!-- <div class="container" style="margin-top: 20px">
					<div class="row center">
						<div class="col-md-12">
							<h1 class="mb-sm word-rotator-title">
								Mike and Michelle are becoming
								<strong>
									<span class="word-rotate" data-plugin-options='{"delay": 2500, "animDelay": 300}'>
										<span class="word-rotate-items">
											<span>self-sufficient</span>
											<span>off the grid</span>
											<span>frugal</span>
											<span>free</span>
										</span>
									</span>.
								</strong>
							</h1>
						</div>
					</div>

				</div> -->

				<div class="container" style="margin-top:20px">
									<div class="row mb-xl">

										<div class="col-sm-8 col-md-8">
																	<!-- <h2 class="mb-xs">About <strong>Us</strong></h2> -->
																	<p class="lead font-weight-normal">A couple searching for an alternative to the 9-to-5 life.</p>

																	<p>We're depressed and unhappy with our 9-to-5 lives. So we're learning how to sail and looking for a sailboat to purchase. We’re going to try to live 100% off the grid, land, and sea; eliminate all our bills, and try to survive on as little money per month as possible.</p>

																	<p>Each episode will follow us (Mike & Michelle) as we sail the Canadian/US west coast and slowly all over the world. Through trial and error, we’ll learn how to fish, forage, filter water; make tools, weapons, shelters, soaps; and deal with storms, wild animals, hunger, dangerous places, low funds, and more.</p>

																	<a href="/about"class="btn btn-borders btn-primary custom-button mt-lg mb-lg font-weight-bold">Read more about us</a>
										</div>

											<div class="col-md-4">
											<div class="row">
												<div class="col-md-6">
													<img class="img-responsive mt-xl mb-xl" src="img/homepage/mike-and-michelle-on-sailboat.jpg" alt="Mike and Michelle on a sailboat" title="Mike and Michelle learning how to sail">
													<img class="img-responsive mb-xl" src="img/homepage/mike-steering-sailboat.jpg" alt="Mike Kennedy steering a sailboat" title="Mike steering another person's boat during a lesson">
												</div>
												<div class="col-md-6">
													<img class="img-responsive mb-xl" src="img/homepage/michelle-on-sailboat.jpg" alt="Michelle Theriault on sailboat" title="Michelle learning how to sit on her butt">
													<img class="img-responsive mb-xl" src="img/homepage/michelle-steering-sailboat.jpg" alt="Michelle Theriault steering a sailboat" title="Michelle steering during a lesson">
												</div>
											</div>
										</div>
									</div>
								</div>

	<section class="section section-default" style="margin-top: 0px;">
				<div class="container">
					<h2 class="mb-xs">Our <strong>Mission</strong></h2>
					<p class="lead font-weight-normal">Our long-term goals and why we're doing this.</p>
					<div class="row mt-xlg">
											<div class="col-md-4">
												<div class="feature-box">
													<div class="feature-box-icon">
														<i class="fa fa-home"></i>
													</div>
													<div class="feature-box-info">
														<h4 class="heading-primary mb-xs">Own our home and vehicle</h4>
														<p>To own our home and vehicle, debt-free, with no monthly mortgages or car payments, and be able to relocate to anywhere in the world we want.</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="feature-box">
													<div class="feature-box-icon">
														<i class="fa fa-lightbulb-o"></i>
													</div>
													<div class="feature-box-info">
														<h4 class="heading-primary mb-xs">100% Off The Grid</h4>
														<p>To be completely self-suffience with solar panels, rainwater catchment, solar stills, hand-cranked tools, etc.</p>
													</div>
												</div>
											</div><div class="col-md-4">
												<div class="feature-box">
													<div class="feature-box-icon">
														<i class="fa fa-file"></i>
													</div>
													<div class="feature-box-info">
														<h4 class="heading-primary mb-xs">Eliminate All Bills</h4>
														<p>To have no major bills: no rent, no power bill, no water bill, no phone bills, no grocery bill.</p>
													</div>
												</div>
											</div>

										</div>

										<div class="row mt-lg">

						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-check"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Fish, Forage, Hunt, Grow</h4>
									<p>To supplement (and perhaps one day live entirely) on the food that we acquire ourselves - like seafood, sprouts, berries, plants, etc.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-desktop"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Make Our Own Money</h4>
									<p>To pay for bills we can't get rid of, and for our own use, we're going to explore building homemade crafts like furniture, soaps, primitive tools, as well as other ideas.</p>
								</div>
							</div>
						</div><div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-bars"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Travel Forever</h4>
									<p>Once fully self-suffient and with some savings, to be able to travel the world virtually forever, with only short yearly trips back to BC, Canada to save up again.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row mt-lg pb-xlg">
											<div class="col-md-12 center">
												<a class="btn btn-borders btn-primary custom-button mt-lg font-weight-bold" href="/plan">View our full plan</a>
											</div>
					</div>

				</div>
			</section>

			<div class="container">
					<div class"row">
						<div class="col-md-12">
							<div class="alert alert-warning" role="alert" style="margin-top: 20px;"><strong>Coming soon!</strong> Blog posts and videos coming soon - early 2017.</div>
						</div>
					</div>

									<div class="row pt-xl">
										<div class="col-md-12">
											<h2 class="mb-none text-color-dark">Our <strong>Blog</strong></h2>
											<!--<p class="lead mb-sm">Lorem ipsum dolor sit amet.</p> -->
										</div>
									</div>

									<div class="row">
									  	{% for post in site.posts limit:3 %}
																<div class="col-md-4">
																	<div class="recent-posts mt-xl">
																		<a href="{{ post.url }}">
																			<img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-1.jpg" alt="Blog">
																		</a>
																		<article class="post">
																			<div class="date">
																				<span class="day">{{ post.date | date: "%-d"}}</span>
																				<span class="month">{{ post.date | date: "%b"}}</span>
																			</div>
																			<h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="{{ post.url }}">{{ post.title }}</a></h4>
																			<p>By {{ post.author }}</p>
																			<p>{{ post.excerpt }}</p>
																			<a class="mt-md" href="{{ post.url }}">Read More <i class="fa fa-long-arrow-right"></i></a>
																		</article>
																	</div>
																</div><!-- /post -->
																{% endfor %}
															</div>
							</div> <!--/container-->

						</div>
			</div> <!--.body-->

		{% include footer.html %}

		</div>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="js/views/view.home.js"></script>

		<!-- Theme Custom -->
		<script src="js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

		<!-- Analytics goes here -->

	</body>
</html>
